<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>

<!--
<copyright>

Copyright (c) Modelisoft and others.
All rights reserved.
 
Contributors: 
    Modelisoft - Initial API and implementation

</copyright>
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated model -->
      <package
            uri="http://modelisoft.com/common"
            class="com.modelisoft.aggero.model.common.CommonPackage"
            genModel="model/model.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated model -->
      <package
            uri="http://modelisoft.com/plugin"
            class="com.modelisoft.aggero.model.plugin.PluginPackage"
            genModel="model/model.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated model -->
      <package
            uri="http://modelisoft.com/feature"
            class="com.modelisoft.aggero.model.feature.FeaturePackage"
            genModel="model/model.genmodel"/>
   </extension>
</plugin>
